.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding: 1rem;
  border: 2px solid darkolivegreen;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    margin: 0 auto 16px;
    max-width: 80%;
  }

  @media screen and (min-width: 1440px) {
    margin: 0 auto 20px;
    max-width: 50%;
  }
}

.label {
  text-align: start;
  line-height: 1.2;
}

.field {
  margin-bottom: 16px;
  padding: 0.2rem;
  font-size: 24px;
}

.error {
  font-size: 16px;
  text-align: start;
  color: red;
}

.button {
  @media screen and (min-width: 768px) {
    align-self: center;
    max-width: 60%;
    padding: 0.5rem 2.5rem;
  }
}
